.bishop_black{
    width:15px;
    height:15px;
    background-color: rgb(95, 59, 12);
    border-radius: 50px 50px 50px 50px;
    position: relative;
    left:40px;
    border: 2px solid black;
}
.bishop_black::before{
    content: " ";
    display: block;
    width:45px;
    height:45px;
    background-color: rgb(95, 59, 12);
    border: 2px solid black;
    position: relative;
    left:-16px;
    top:25px;
    border-radius: 0px 32px 0px 32px;
    transform: rotate(45deg);
    
}
.bishop_black::after{
    content: " ";
    display: block;
    width:60px;
    height:10px;
    background-color: rgb(95, 59, 12);
    border: 2px solid black;
    position: relative;
    left:-20px;
    top:30px;
    border-radius: 7px 7px 0px 0px;
}
.bishop_white{
    width:15px;
    height:15px;
    background-color: rgb(212, 169, 111);
    border-radius: 50px 50px 50px 50px;
    position: relative;
    left:40px;
    border: 2px solid black;
}
.bishop_white::before{
    content: " ";
    display: block;
    width:45px;
    height:45px;
    background-color: rgb(212, 169, 111);
    border: 2px solid black;
    position: relative;
    left:-16px;
    top:25px;
    border-radius: 0px 32px 0px 32px;
    transform: rotate(45deg);
    
}
.bishop_white::after{
    content: " ";
    display: block;
    width:60px;
    height:10px;
    background-color: rgb(212, 169, 111);
    border: 2px solid black;
    position: relative;
    left:-20px;
    top:30px;
    border-radius: 7px 7px 0px 0px;
}