.content{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    width: 1200px;
    height: 1500px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
}
.menu {
    width: 100%;
    height: 100px;
    background-color: brown;
    position: sticky;
    top:0;
    left: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
li{
    float:left;
    line-height: 100px;
    width: 200px;
    font-size: 26px;
    text-align: center;
    color: white;
}
.writers {
    font-size: 120%;
    font-weight: bold;
}
li:hover{
    background-color: rgb(97, 23, 23);
}
.text {
    text-align: justify;
    margin: 20px 500px 0px 50px;
}
.info {
    width: 300px;
    height: 550px;
    background-color: rgb(207, 201, 201);
    position: relative;
    top: -770px;
    left: 760px;
    z-index: -1;
}
.photo {
    text-align: center;
}
img {
    margin-top: 10px;
    text-align: center;
}
pre {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.data {
    font-weight: bold;
}
.similar {
    width: 90%;
    height: 250px;
    border: 1px grey solid;
    position: relative;
    top: -550px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%); 
}
.photos * {
    width: 12%;
    max-height: 150px;
    padding: 25px;
    display: table-cell;
}
.names {
    max-height: 150px;
    text-align: center;
    display: table-cell;
}
.names * {
    padding: 27px;
    text-align: center;
}
